<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/stylesheets/application.css" rel="stylesheet">

    <% if content_for?(:page_title) %>
      <%= yield :page_title %>
    <% else %>
      <title>Phill MV</title>
      <meta name="Description" CONTENT="Phillip Mendonça-Vieira (Phill MV) is an immigrant, an urbanist, an entrepreneur, and a software engineer.">
    <% end %>

    <% if content_for?(:social_card) %>
      <%= yield :social_card %>
    <% end %>

    <%= auto_discovery_link_tag(:atom, {controller: "timeline", action: "feed"}) %>
  </head>
  <body>

    <%= yield %>

    <% if false # to copy later %>
      <div id="main" role="main">
      </div>

      <aside>
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>

        <h2>Tags</h2>
        <ol>
          <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </ol>

        <h2>By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
          <% end %>
        </ol>
      </aside>
    <% end %>
  </body>
</html>
