<% content_for :page_title do %>
  <title>Entries tagged <%= @search_query %> – Phill MV</title>
<% end %>

<container>
<div class="one-column">
  <div class="entry-header">
    <h1><a href="/">Phill Mendonça-Vieira</a></h1>
    <h2>Entries tagged <%= @search_query %></h2>

    <p>Follow along using <a href="<%= tag_feed_path(params[:query]) %>">this tag's rss feed</a>.</p>
    <hr/>
  </div>

  <ol class="article-list">
    <% @all_entries.each do |article| %>
      <li class="article">
        <h3><%= link_to article.subject, article %></h3>
        <% if article.summary.present? %>
          <p><%= article.summary.html_safe %></p>
        <% end %>
        <h5 class="date"><%= article.occurred_at.strftime('%B %-d, %Y') %> <% if article.tags.any? %>| <%= article.tags.pluck(:name).map { |s| link_to(s, tag_path(query: s.gsub("#", ""))).html_safe }.join(", ").html_safe %><% end %></h5>
      </li>
    <% end %>
  </ol>

  <% pagination =  will_paginate @all_entries, class: "pagination"%>
  <% if pagination %>
    <hr>
    <%= pagination %>
  <% end %>
</div>
</container>
