---
layout: post
title: The Saints of Little Portugal
---

<p>
  When you next walk through the residential streets of Toronto's west end, take a look at the houses around you. Before long, you'll see the azulejos.
</p> 

<p>
  Carefully glued by a house's front entrance, azulejos are small sets of ceramic tiles, usually six or twelve per panel. Though each panel typically depicts generic-looking Catholic iconography - various iterations of the Virgin, miscellaneous saints - they're effectively ethnic markers:
</p>
<p>
  To see one is to know that the owners are Portuguese.
</p>

<p>
  In May 2015, I canvassed my neighbourhood, from Ossington to Dufferin and from Queen to Dundas, and catalogued every azulejo I could find.
</p>


<%= render_partial 'views/azulejos', :locals => { :azulejos => data.azulejos["azulejo"].keys[0..31] }  %>

<h2>Slightly more than what meets the eye</h2>
<p>
  You can be certain the owners are Portuguese for two reasons.
</p>
<p>First, the azulejo is a distinctively Portuguese art form, though they're also common in Spain and in the former colonies.</p>

<p>Both the word 'azulejo' (which refers to any ceramic tile) and its artistic tradition were introduced by <a href="https://en.wikipedia.org/wiki/Reconquista">the Moorish invaders</a>, who brought with them their Arabesque decorative ceramics and an obsession with filling empty space.</p>

<p>Adopted first in Spain, in the 1500s they were imported to Portugal. In the 1600s their manufacturing was <a href="https://en.wikipedia.org/wiki/Delftware">improved by the Dutch</a>, and they became widely used by the 1700s. Many houses in Portugal today are still covered top to bottom, inside and out, in azulejos: they're cheap, they last forever, they're easy to clean, and they keep things cool in the summer.
</p>

<p>Secondly, these azulejos feature Portuguese saints.</p>

<p>If to glance at an azulejo is to have a suspicion, then to see the tortured face of Senhor Santo Cristo dos Milagres (Lord Holy Christ of The Miracles) is to know that the owners are, specifically, from the Açores.</p>

<figure>
  <img src="/img/azulejos/azulejo-dufferin-IMG_9290.jpg">
  <figcaption>The cult of Senhor Santo Cristo dos Milagres is over three hundred years old.</figcaption>
</figure>

<p>I don't quite recall all the theological quirks<sup id="fnref:az-irreligious"><a href="#fn:az-irreligious" class="footnote">1</a></sup>, but, in a nutshell, Catholics love their minor cults. 
</p>
<p>You may only worship the Holy Trinity, of course.</p>
<p>But if you're in a jam and need a favour, it's common to pray directly to a holy-adjacent figure that specializes in your troubles. Cults form around specific divine interventions and become embodied by a stable iconography laden with symbolism. Choosing a saint or figure in particular often reflects traditions from your family or region.</p>

<p>Take Nossa Senhora de Fátima.</p>

<p>In 1917, Our Lady the Virgin Mary appeared<sup id="fnref:az-appeared"><a href="#fn:az-appeared" class="footnote">2</a></sup> to, and hung out with, three little shepherds<sup id="fnref:az-childlabour"><a href="#fn:az-childlabour" class="footnote">3</a></sup> in the village of Fátima. She did this six times over the course of several months and, before she left for good, she gave the shepherds three secrets and performed some miracles. People were so impressed, they built an immense sanctuary right on the spot.</p>
<p>Today, it receives millions of tourists every year. People in need will make pilgrimages and, in penance, crawl on their knees the whole way there.</p>


<img src="/img/azulejos/azulejo-dovercourt-IMG_9107.jpg" style="margin-bottom: 2%">

<p>I grew up about a ten minute drive from Fátima. I went to school there. I've attended mass both in the cathedral, and outside, during high season, when tens of thousands of pilgrims congregate in the sanctuary grounds. For me personally, it's all extremely normal, a kind of background cosmic religious radiation<sup id="fnref:az-religiousradiation"><a href="#fn:az-religiousradiation" class="footnote">4</a></sup>.</p>

<p>
  Most portuguese immigrants to Toronto, though, are not from the mainland &mdash; let alone from my region.</p>

<p>Last fall, while en route to work, I noticed that the church down on Argyle and Dovercourt was unusually crowded for a Thursday morning. I stopped an old man and asked him, is this a funeral, a wedding or what? With emotion in his voice, he replied: they brought Our Lady over! and beckoned me to check it out. 
</p>
<p>
  I parked my bike, and stepped inside the church. The pews were packed with worshippers, and a priest was wrapping up a mass. There in the distance I spotted her: there stood the <a href="https://commons.wikimedia.org/wiki/File:Virgen_de_F%C3%A1tima.JPG">pilgrim image</a> of Our Lady of Fátima. I chatted with an old lady who told me she never thought she'd get to see it in the flesh; she seemed very pleased. I later found out that the statue was making a week-long tour of the Greater Toronto Area portuguese churches.</p> 

<p>While Fátima is the most famous... visit by Our Lady, the Lord works in mysterious ways. Over the centuries every other town has had a holy appearance or become associated with a given saint. Saint Anthony represents both Portugal and Lisbon, and helps with marriages, the poor, and finding things that are lost. Saint Joseph, in turn, is the patron saint of fathers, families and Canada.</p>


<%= render_partial 'views/azulejos', :locals => { :azulejos => data.azulejos["azulejo"].keys[32..-1] }  %>

<h2>Stocks and flows</h2>

<p>Most Portuguese came to Canada in the 1960s and 1970s<sup id="fnref:az-trickle"><a href="#fn:az-trickle" class="footnote">5</a></sup>, and largely settled in Montreal and Toronto. By the time I was born, my ethnic group consisted of up to one third of the population in Toronto's west-end neighbourhoods. People fled the subsistence farming, crushing poverty and fascist political repression that at the time was a constant in the home country.</p>

<p>Most first-generation immigrants are from my parents' and grandparents' generation, though, and what used to be a bustling ethnic enclave has since petered out. Between the reduced rate of migration and the unsustainable inflation that is fueling our housing affordability crisis, the old people who remain are dying or selling out and are being replaced, as far as I can tell, by wealthier "ingleses".</p>

<p>
  Cities change, it's how it goes.
</p>

<section>
  <div class="azulejo-big">
    <figure>
      <img src="/img/azulejos/azulejo-lisgar-IMG_8945.jpg">
      <figcaption>May 2015</figcaption>
    </figure>
  </div>

  <div class="azulejo-big">
    <figure>
      <img src="/img/azulejos/azulejo-lisgar-IMG_6669.2.jpg">
      <figcaption>May 2017</figcaption>
    </figure>
  </div>
</section>



<p>
  As I write this, I am being evicted myself from the neighbourhood: my landlords cashed out and sold the house I live in. I'm currently looking for housing, but odds are good I won't be able to stick around.
</p>


<p>I've lived in or adjacent to Little Portugal for about seven years now, and for a long time I got to have it both ways: I was both gentrified and gentrifier. On the one hand, I frequented the bakeries, the bbq shops and rather enjoyed doing all of my shopping without speaking English. On the other, I also got to enjoy living in hipster-central and hung out at all the nice new bars and restaurants.</p>

<p>I'm not sure that I have a unique right, per se, to stay in this specific neighbourhood. But there's something to be said about all the different amenities and quirks that only someone like me can enjoy, and that will vanish without enough people like me to support it.</p>

<p>When I first began this project, I was engaging in a kind of proactive nostalgia: I was moving to California for the summer, and I felt sad about missing summer in Toronto. I didn't realize at the time that I was also creating a record of gentrification.</p>

<p>Put another way: enjoy them while they last!</p>

<h3>More information</h3>
<p>As stated above, all pictures shown here were taken in May 2015, and are located between Ossington and Dufferin and Queen and Dundas. I found 66 distinct instances.</p>

<p>TK: list by saint, list by street</p>

<div class="footnotes">
  <ol>
    <li id="fn:az-irreligious">
      <p>At the end of every year, the priest would come down from the castle (the parish headquarters) and quiz the kids on their bible lessons. What are the seven deadly sins? What were the three temptations of Christ? When I was thirteen I skipped out on the oral examination to go on vacation early with my grandparents, and upon my return I was informed I had <i>flunked Sunday school</i>. My faith was already on shaky grounds but I decided right then and there that organized religion wasn't my thing. <a href="#fnref:az-irreligious" class="reversefootnote">↩</a></p>
    </li>
    <li id="fn:az-appeared">
      <p>Think less "showed up" and more "<a href="https://www.merriam-webster.com/dictionary/apparition">apparation</a>". <a href="#fnref:az-appeared" class="reversefootnote">↩</a></p>
    </li>
    <li id="fn:az-childlabour">
      <p>Think less "picturesque" and more "child labour". The oldest was ten, and this being deep rural Portugal, they were very likely done school forever, if they had any schooling at all. It's hard to overstate how little education people received, right up to my generation. <a href="#fnref:az-childlabour" class="reversefootnote">↩</a></p>
    </li>

    <li id="fn:az-religiousradiation">
      <p>I worked on this essay for several days before I realized that I'm not immune: I own a tiny, glow in the dark Our Lady of Fátima figurine. It was too tacky not to purchase. <a href="#fnref:az-religiousradiation" class="reversefootnote">↩</a></p>
    </li>


    <li id="fn:az-trickle">
      <p>Before the 1950s, we were considered an undesirable ethnic group, incapable of adapting to Canadian farming conditions. After 1974, between the end of the dictatorship &mdash; which ended the colonial wars and eased material deprivation &mdash; and the new Canadian points-based immigration system &mdash; which deprioritized unskilled labour &mdash; the flow of Portuguese slowed to a trickle. <a href="#fnref:az-trickle" class="reversefootnote">↩</a></p>
    </li>


    </ol>
</div>


<%# <%= render_partial 'views/azulejos' %>


<% if false%>
<% data.azulejos["saints"].each do |s, arr| %>
  <h2><%=saint_name(s)%></h2>
  <% arr.each do |f| %>
<img src="/img/azulejos/<%= f %>" style="width: 47%; margin: 1%; display: inline">
  <% end %>


<div style="width: 100%; float: left; margin-bottom: 1em;"> 
  <div style="width: 50%; float: left">
    <h3>By Saint:</h3>
      <%= data.azulejos["saints"].map do |s, arr|
            "#{saint_name(s)} (#{arr.size})"
          end.join("<br/>") %>
  </div>

  <div style="width: 50%; float: left;">
    <h3>By Street:</h3>
      <%= data.azulejos["streets"].map do |s, arr|
            "#{s} (#{arr.size})"
          end.join("<br/>") %>
  </div>
&nbsp;
</div>
<% end %>



<p style="font-size: 0.8em;"><i>Documenting all quaint religious tiles found in my neighbourhood.<!-- <br/>Investigando os azuleijos religiosos do meu bairro.--></i></p>
<!-- <p style="font&#45;size: 0.8em;"><i></i></p> -->
<!-- <p style="font&#45;size: 0.8em;">Leia este artigo em Português.</p> -->
<img src="/img/azulejos.jpg">

<h2>A familiar face</h2>
I started noticing the azulejos the day I rented my first solo apartment.

<!-- <p>Comecei a reparar nos azulejos no dia em que aluguei o meu primeiro T1.
Apresentei-me ao endereco indicado, e lá estava ela: Nossa Senhora de Fátima, a abencoar os tres pastorinhos, pintada a mao, montada pela porta. Sorri-me.

Eu cresci numa aldeia perto de Fátima, ai uns quinze minutos de distancia. Com os meus avos, muito catolicos, atendi a missa no santuario num dia treze, a apanhar sol. Durante o ensino basico, atendi-la a escola, completo com freiras. Subi as escadas, obviamente, o senhorio era portugues. Fiquei com o apartamento.</p> -->

I arrived at the address and there she was: Nossa Senhora de Fátima, blessing the three little shepherds, hand painted across six ceramic tiles and mounted by the front door. I smiled. 

I grew up near Fátima. In grade five, I went to school there. I climbed up the stairs to meet the landlord who, as I expected, was an old Portuguese man. I got the apartment.[^oldpeople]

From then on, I began to notice the azulejos more carefully.

<!-- <div> -->
<!-- <img style="width: 45%" src="/img/azulejos/azulejo&#45;collahie&#45;IMG_9158.jpg"> -->
<!-- <img style="width: 45%" src="/img/azulejos/azulejo&#45;dovercourt&#45;IMG_9104.jpg"> -->
<!-- <!&#45;&#45; <img style="width: 30%" src="/img/azulejos/azulejo&#38;#45;collahie&#38;#45;IMG_9158.jpg"> &#45;&#45;> -->
<!-- </div> -->

They're common throughout Toronto's West End, where they are almost always religiously themed, and they decorate the porches and entrances of many houses. Azulejos come in many sizes and colours, but they're usually 15cm wide and quite often blue. And, though they depict generic-looking Catholic iconography, to find a set is to know the owner of the residence is Portuguese. 

You can be certain of this knowledge for two reasons.

One, most of the saints they depict are, well, Portuguese. Take Fátima,[^fatima] for instance.


<img style="width: 48%" src="/img/azulejos/azulejo-dovercourt-IMG_9107.jpg">
<img style="width: 48%" src="/img/azulejos/azulejo-beaconsfield-IMG_9209.jpg">

In 1917, Nossa Senhora (Our Lady) the Virgin Mary appeared[^appeared] to, and hung out with, three little shepherds[^childlabour] in the village of Fátima. She did this six times over the course of several months and, before she left for good, she gave the shepherds three secrets and performed some miracles. People were so impressed, they built an immense Sanctuary right on the spot. Today, it receives millions of tourists every year.

While Fátima is the most famous... visit by Our Lady, the Lord works in mysterious ways. Over the centuries every other town has had a holy appearance or become associated with a patron saint.

The other reason is that the azulejo itself is a distinctly Portuguese art form, though they are also common in Spain and popular in Latin America. 

They were introduced by the Moorish invaders, who brought with them their Arabesque decorative ceramics and an obsession with filling empty space. Adopted first in Spain and in the 1500s imported to Portugal, by the 1700s they became widely used. Many houses in Portugal today are covered top to bottom, inside and out, in azulejos: they're cheap, they last forever, they're easy to clean, and they keep things cool in the summer.

To glance at an azulejo is to have a suspicion, and to see the tortured face of Senhor Santo Cristo dos Milagres (Lord Holy Christ of Miracles) is to know the owners are probably from the Açores.[^archipelago]


<img src="/img/azulejos3.jpg">
<h2>Preemptive nostalgia </h2>

In May of 2015, we applied and were accepted to Y Combinator, a prestigious startup accelerator. In exchange for money and mentorship, we were expected to spend the following three months in California.

This was great news, but my immediate reaction was to feel dread and a light sadness: we were gonna miss out on summer in Toronto.

Summertime Toronto is paradise, made all the greater by its contrast with winter. After all those wet, cold, dark and interminable months, people emerge from hiding, shed their layers and Toronto sprouts and blossoms into being. To truly live in Toronto, as I understand it, is to ferry to the islands and chill on the beach; to idly drink on patios; to stalk the hot and humid sweet summer nights.

That winter had been an unusually harsh one.

Besides, we might end up staying for quite some time. To work on a startup is to believe in its epic greatness; to succeed, many people believe, is to relocate fairly permanently. As the epicentre of our industry, the San Fracisco Bay Area exerts a certain gravity on all software engineers.

As we packed and sorted and got ready to leave, sadness gave way to mourning and I found myself wistfully pacing through our neighborhood.

I've lived in Little Portugal since 2011 and for most of it I had it both ways. I got to live in my ethnic enclave, which coincidentally was also the hippest neighborhood in town. I soaked my hangovers with fatty leitão à Bairrada, and on a whim treated myself to a pastel de nata. I often did all my shopping without speaking a word of English. And, in exchange for travel agencies and knick-knack stores, I was provided with an endless variety of cool new bars and restaurants. Friends and first dates would spontaneously pick a spot just across the street from my apartment. Life was good.

Yet, it did catch up to me; I'd just been evicted, and though I scored an amazing housing deal, staying in the neighbourhood was becoming a struggle. Historic, runaway price inflation was causing the few remaining working class Portuguese people to cash out, and in their stead were wealthy Anglos. People have a tendency to flatten or renovate their new properties, and so I had a strong feeling these little symbols were about to be gentrified away.

I got to live in my ethnic enclave, and reward myself with a pastel de nata, or soak my hangovers with rotisserie chicken  - but I also rather enjoyed living  the rapid gentrification and the non-stop proliferation of cool bars and restaurants.

YouImmediately after receiving the notifyin phonecall, I was filled with dread; Toronto in the summer is paradise, and we'd just come out of a harsh winter. To truly live in Toronto is to ferry to the islands and chill on the beach; to pop a beer and lie on the grass in Trinity Bellwoods; to stalk the hot and humid sweet summer nights. These days I try to get my mourning right out and front - for Max, the immensity of our loss had only registered the week after we'd arrived in Mountain View - and so while we packed for California I exercised my nostalgia preemptively by compulsively cataloguing all the azulejos in the specific corner of Little Portugal we inhabited.

With historic, runaway price inflation, many of the few remaining working class Portuguese people that used to comprise most of the neighborhood are cashing out. People have a tendency to flatten or renovate their new properties, and so I had a strong sense that these little symbols were being gentrified away.



They're not uncommon throughout the west end of Toronto, decorating the porches of many houses. To come across a set is to know that the owners are Portuguese &mdash; but since their iconography is generically catholic, I think a lot of people don't realize it. 

There are two reasons why you can know this with certainty.


First, they often depict uniquely Portuguese icons. In 1917, over several months, the Virgin Mary appeared and hung out with three young shepherds in the small town of Fátima. She gave them three secrets, and performed a miracle or two, and people were so impressed they built a huge cathedral right on the spot. Today, it's a small city, and it receives _millions_ of tourists every year[^fatima].


Second, the azulejo itself &mdash; a ceramic tile, often coloured blue, and usually painted with repeating geometric figures &mdash; is a uniquely Portuguese art form[^wellspanish]. Houses in Portugal today are often totally covered, inside and out, in azulejos. They're cheap, they last forever, they're easy to clean, and they keep things cool in the summer[^wordazulejo].






[^appeared]: Think less "showed up" and more "apparation".

[^childlabour]: Think less "picturesque" and more "child labour". The oldest was ten, and this being deep rural Portugal, they very likely received little if any education.



[^oldpeople]: I smiled and chatted with him in Portuguese, to the annoyance of the other people at the showing. A year and a half later, when I left, his wife told me I was like another grandson. That's not the interesting part.

[^fatima]: Its name comes from the Arabic _[فَاطِمَة ‎‎](https://en.wikipedia.org/wiki/Fatima_(given_name))_ which, according to legend, was the name of a Moorish princess captured during the christian Reconquista in 1158. I've attended mass both in the cathedral, and outside, during high season, when tens of thousands of pilgrims congregate in the sanctuary grounds.

[^archipelago]: Which to be fair, is not a hard guess. Portugal is for the most part a stone raft stuck to the west end of Europe, but most Portuguese immigrants in North America came from the Açores: if you thought the "continent" was an impoverished, isolated place, well, try being out in _the middle of the ocean_.


[^wordazulejo]: The Portuguese word _azulejo_ can also be traced back to an Arabic word, _[الزليج‎‎](https://en.wikipedia.org/wiki/Zellige)_. It was introduced in Portugal in the 1500s and really took off in the 1700s. I recently went to the [National Tile Museum](http://www.museudoazulejo.pt/en-GB/default.aspx), in Lisbon, situated in an old monastery. It's worth a visit!


<% end %>
