<section>
  <div class="post-wrapper">
    <div class="post">
      <h1 class="title"><a href="<%= entry_path(@entry) %>"><%= @entry.subject %></a></h1>
      <h5 class="date"><a href="<%= entry_path(@entry) %>"><%= @entry.occurred_at.strftime('%B %-d, %Y')%></a> <% if @entry.tags.any? %>| <%= @entry.tags.pluck(:name).map { |s| link_to(s, tag_path(query: s.gsub("#", ""))).html_safe }.join(", ").html_safe %> <% end %></h5>
      <%= @renderer.to_html %>
      <p class="date"><%= link_to "# #{@entry.occurred_at.strftime("%Y-%m-%d")}", entry_path(@entry) %></p>
    </div>
  </div>
</section>
