<% content_for :page_title do %>
  <title><%= @entry.subject %> – Phill MV</title>
  <meta property="og:title"  content="<%= @entry.subject %>" />
  <% if @entry.summary %>
    <meta name="Description" CONTENT="<%= @entry.summary %>">
    <meta property="og:description" content="<%= @entry.summary %>" />
  <% end %>
<% end %>

<% if @entry.metadata["article_image"] %>
  <% content_for :social_card do %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= entry_url(@entry.metadata["article_image"]) %>" />
    <meta property="og:image"  content="<%= entry_url(@entry.metadata["article_image"]) %>" />
  <% end %>
<% end %>

<container>
<div class="one-column">
  <div class="entry-header">
    <h1><a href="/">Phill Mendonça-Vieira</a></h1>
    <h3>See <a href="/archive.html">more of my writing</a> or <a href="/atom.xml">subscribe via rss</a>.</h3>
    <hr></hr>
  </div>
</div>

<% case @entry.metadata["layout"] %>
<% when "post" %>
<%= render "post" -%>
<% else -%>
<% if @entry.identifier.index("garden/") == 0 %>
<%= render "garden" -%>
<% else %>
<section>
  <div class="post-wrapper">
    <div class="post">
      <%= @renderer.to_html %>
    </div>
  </div>
</section>
<% end # end if %>
<% end # end case %>

</container>
