<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "all" %>

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>


    <div id="intro">
      <div class="video">


        <video width="400" height="400" autoplay loop muted>
          <source src="assets/phillwinter.mp4" type="video/mp4" />
            <!-- <source src="movie.ogg" type="video/ogg" /> -->
              Your browser does not support the video tag.
        </video>


      </div>
        <!-- <div class="title"> -->
        <!--   <h1>Phillip Mendonça&#45;Vieira</h1> -->
        <!-- </div> -->

      <div class="preamble">
        <h1>Phillip Mendonça-Vieira</h1>
        <p>I am a software engineer by trade. I tell computers what to do. I make apps, I build products, I throw events. I think about people, and the internet.</p>
        <br/>
          <p>I am mostly made of water and feelings.</p>
          <p></p>

          <h1>this is h1</h1>
          <h2>this is h2</h2>
          <h3>this is h3</h3>
          <h4>this is h4</h4>
          <h5>this is h5</h5>
        </div>
    </div>

    <div id="main" role="main">
      <%# <%= yield %>
    </div>

    <aside>
      <h2>Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside>
  </body>
</html>
