<% content_for :page_title do %>
  <title>phillmv - <%= current_article.title %></title>
<% end %>

<% wrap_layout :layout do %>
  <%= partial "shared/shortbio" %>
  <section>
    <div class="entry">
      <div class="post">
        <h1 class="title"><a href="<%=current_article.url %>"><%= current_article.title %></a></h1>
        <%= yield %>
        <p class="date"><%= link_to "# #{current_article.date.strftime("%Y-%m-%d")}", current_article.url %></span>
      </div>
    </div>
  </section>
<% end %>
