<% content_for :page_title do %>
  <title><%= current_page.data.title %></title>
  <meta name="twitter:creator" content="@phillmv">
  <% if current_page.data.article_image %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= config.site_url + current_page.data.article_image %>" />
    <meta property="og:image"  content="<%= config.site_url + current_page.data.article_image %>" />
  <% end %>
<% end %>

<% wrap_layout :layout do %>
  <%= partial "shared/shortbio" %>
  <section>
    <div class="post-wrapper">
      <div class="post">

        <h2><%= title %></h2>
        <p><a href="/img/azulejos/<%= filename %>"><img src="/img/azulejos/<%= filename %>"></a></p>

        <% saints.each do |s| %>
          <%= render_partial s %>
        <% end %>

        <% related = saints.map { |s| data.azulejos["saints"][s] }.flatten.reject { |f, a| f == filename } %>

        <% if saints.any? { |s| related.size > 0 } %>
          <h4>Related azulejos:</h4>
          <% saints.each do |s| %>
            <%= render_partial 'azulejo_grid', :locals => { :azulejos => related }  %>
          <% end %>
        <% end %>


        <a href="/2017/saints-of-little-portugal.html"><h3>This page is a companion to 'The Saints of Little Portugal'</h3></a>

      </div>
    </div>
  </section>
<% end %>
